table{
  border: #66D7D1 5px solid;
  margin:5px;
  padding: 10px; 
  background:#FFCC3;
  
}
td{
  border: #66D7D1 1px solid;
 border: #·66D7D1 5px solid;
  margin:5px;
  padding: 10px; 
  background:#FFCB72;
}